.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.overview {
    height: 180px;
    background-color: #d3dae1;
}

.table, #visted{
    width: 50%!important;
    margin: 0 auto;
}
#visted{
    width: 60%!important;
}